/* Text Elements */

h1 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-family: 'Archivo', cursive;
}

h1.main-heading {
  color: #ffc680;
  text-transform: uppercase;
  text-shadow: #151515 2px 2px 30px;
  letter-spacing: 5px;
  font-variant: normal;
  font-size: 2.5rem;
}

h1#book-heading {
  font-size: 8vw;
}

h2.info-title {
  color: #ffc680;
  text-align: center;
  font-weight: 500;
  font-size: 26px;
  font-family: 'Archivo', cursive;
}

h2.info-title.quote-heading {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

h4.benefit-type {
  padding-bottom: .3125rem;
  color: #eaeaea;
  text-align: center;
  font-weight: 300;
  font-variant: normal;
  font-size: 26px;
  font-family: 'Archivo', cursive;
}

h4 {
  font-size: 25px;
}

h5 {
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h5.citation {
  color: #3cd397;
  text-align: center;
  font-size: 1.25rem;
  font-family: 'Archivo', cursive;
}

p.paragraph {
  color: #adadad;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Archivo', cursive;
}

p.paragraph.benefit-paragraph {
  color: #adadad;
  font-size: 1.58rem;
}

p.paragraph.dark-parargraph {
  margin-bottom: 1.25rem;
  color: #575757;
}

p.paragraph.intro-highlighted-paragraph {
  margin-top: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #fff;
}

p.paragraph.section-paragraph {
  margin-right: auto;
  margin-bottom: 1.25rem;
  margin-left: auto;
  max-width: 800px;
  color: #575757;
}

span.text-element.quote {
  padding-top: .3125rem;
  color: #3cd397;
  text-align: center;
  font-weight: 700;
  font-size: 2.065rem;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

a.link-text.menu-link {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Archivo', cursive;
}

a.link-text.menu-link:hover {
  color: #ffc680;
  font-size: 16px;
}

/* Interaction Elements */

a.link-button {
  font-family: 'Archivo', cursive;
}

a.link-button.hero-button {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px;
  max-width: 250px;
  width: 100%;
  border: 0 solid #3ffdb1;
  border-radius: 5px;
  background-color: #ffc680;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 16px;
}

a.link-button.hero-button:hover {
  border-color: #0fb674;
  background-color: #2dbd84;
}

/* Layout Elements */

body.dark-body {
  background-color: #151515;
}

.container.title-bar {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
}

.container#realeutatemenu {
  display: none;
}

.container.top-bar-left {
  float: left;

  -webkit-box-flex: 1;
  -webkit-flex: auto;
     -moz-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.container.responsive-menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: end;
  -ms-flex-align: end;
  background-color: #010101;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
          align-items: flex-end;
}

.container.top-bar {
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
}

.container.header-region {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: stretch;
  min-height: 100vh;
  background-color: #000;
  background-image: -webkit-linear-gradient(bottom, rgba(21, 21, 21, 1) 0%, rgba(29, 30, 33, 0) 100%), url('../images/ales-nesetril-Im7lZjxeLhg-unsplash_1.jpg');
  background-image:    -moz-linear-gradient(bottom, rgba(21, 21, 21, 1) 0%, rgba(29, 30, 33, 0) 100%), url('../images/ales-nesetril-Im7lZjxeLhg-unsplash_1.jpg');
  background-image:      -o-linear-gradient(bottom, rgba(21, 21, 21, 1) 0%, rgba(29, 30, 33, 0) 100%), url('../images/ales-nesetril-Im7lZjxeLhg-unsplash_1.jpg');
  background-image:         linear-gradient(0deg, rgba(21, 21, 21, 1) 0%, rgba(29, 30, 33, 0) 100%), url('../images/ales-nesetril-Im7lZjxeLhg-unsplash_1.jpg');
  background-attachment: scroll, fixed;
  background-position: left top, center center;
  background-clip: border-box, border-box;
  background-origin: padding-box, padding-box;
  background-size: auto auto, cover;
  background-repeat: no-repeat, no-repeat;

  background-blend-mode: normal, normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

.container.secondary {
  margin: 90px auto;
}

.container.spotlight {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  margin-bottom: 90px;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

.container.spot {
  margin: 20px auto;
  padding-right: 0;
  padding-left: 0;
  width: 90%;
}

.container.social {
  margin-top: 50px;
  margin-bottom: 70px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fbfbfb;
}

.container.quotes-section {
  margin-top: 90px;
  margin-bottom: 50px;
}

.container.quote-cards-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
}

.container.quote-card {
  margin: 20px auto;
  padding: 10px 20px 0;
  max-width: 400px;
  border-radius: 5px;
  background-color: #e9e9e9;
  box-shadow: rgba(0, 0, 0, .5) 5px 5px 10px 0;
}

.container.footer {
  background-color: #000;
}

.container.highlighted-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  margin: 2rem auto;
  padding: 1rem;
  min-height: 600px;
  max-width: 1000px;
  background-color: transparent;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
          align-content: center;
}

.container.idea-image {
  min-height: 350px;
  max-height: none;
  width: 100%;
  background-color: #ffc680;
  background-image: url('../images/office-620817_1920.jpg');
  background-attachment: scroll;
  background-position: center top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
  background-repeat: no-repeat;

  background-blend-mode: soft-light;
}

.container.idea-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ebebeb;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
}

ul.list-container.dropdown.menu {
  -ms-flex-pack: center;
  background-color: transparent;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

span.glyph.font-icon-menu {
  display: inline-block;
  clear: right;
  margin-right: 1%;
  color: #fff;
  vertical-align: middle;
  font-size: 1.5625rem;
  line-height: 0;
}

.rule hr {
  border-top-width: .125rem;
  border-top-color: #fefefe;
}

.rule {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
  padding-bottom: 0;
  width: 40%;
}

span.glyph.button.font-icon-menu {
  margin-bottom: 0;
  padding: 0;
  background-color: transparent;
}

span.glyph.font-icon-image {
  border-color: #3cd397;
  color: #3cd397;
  text-align: center;
  font-size: 30px;
}

span.glyph.button.font-icon-menu:hover {
  color: #5cf000;
}

@media screen and (min-width: 40rem) {
  /* Text Elements */

  h1#book-heading {
    font-size: 3.5rem;
  }

  h4.benefit-type {
    font-size: 20px;
  }

  p.paragraph.benefit-paragraph {
    font-size: 18px;
    line-height: 1;
  }

  /* Layout Elements */

  .container.title-bar {
    display: none;
  }

  .container#realeutatemenu {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
  }

  .container.top-bar-left {
    padding-top: 0;
  }

  .container.top-bar {
    background-color: transparent;
  }

  .container.spotlight {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
            justify-content: space-around;
  }

  .container.spot {
    padding-right: 10px;
    padding-left: 10px;
    width: 50%;
  }

  .container.quote-cards-holder {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: justify;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .container.quote-card {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
  }

  .container.header-region {
    background-color: #000;
  }

  .container.idea-holder {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
  }

  ul.list-container.dropdown.menu {
    background-color: transparent;
  }
}

@media screen and (min-width: 64rem) {
  /* Text Elements */

  h4.benefit-type {
    font-size: 22px;
  }

  p.paragraph.benefit-paragraph {
    font-size: 18px;
    line-height: 1;
  }

  /* Interaction Elements */

  a.link-button {
    font-family: 'Archivo', cursive;
  }

  a.link-button.hero-button {
    border-color: #3ffdb1;
  }

  a.link-button.button {
    min-width: 21px;
    min-height: 27px;
  }

  /* Layout Elements */

  .container.top-bar-left {
    padding-top: 0;
  }

  .container.spot {
    padding-right: 0;
    padding-left: 0;
    width: 25%;
  }

  .container.quote-cards-holder {
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding-bottom: 20px;
  }

  .container.header-region {
    background-position: center center;
  }

  .container.footer {
    background-color: #151515;
  }

  .container.idea-image {
    padding: 10px;
    width: 50%;
  }
}